.user-info__button_edit {
    margin: 28px 0 0;
    width: 38px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
}

@media (max-width: 980px) {
    .user-info__button_edit {
        margin: 28px auto 0;
    }
}